body {
  padding: 0;
  margin: 0px;
}

p {
  font-size: 2rem;
}

img {
  vertical-align: middle;
}

body > div {
  text-align: center;
  border: 5px solid red;
}

div > div {
  border: 5px solid blue;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}