body {
  padding: 0;
  margin: 0px;
}

.container {
  display: flex;
  border: 5px solid green;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
}

.container > div {
  border: 5px solid blue;
  padding: 5px;
}